/* start general style */
:root {
  --light-gray-f9: #f9f9f9;
  --lighGray: {
    background-color: var(--light-gray-f9);
  }

  --smallBoxes: {
    display: block;
  }
}
html {
  font-size: 16px;
}
@media screen and (max-width: 1600px) {
  html {
    font-size: 13px;
  }
}
* {
  padding: 0;
  margin: 0;
}
.container {
  max-width: 95%;
  margin: auto;
}
.noMargin {
  margin: 0;
}
html {
  background-image: url(../assets/images/resources/pageBG.png);
  background-size: cover;
  background-attachment: fixed;
}
body {
  height: 100vh;
}
/* end general style */
/* start top nav  */
#topNav {
  width: 100%;
  height: 6.25rem;
  background: #f9f9f9 0% 0% no-repeat padding-box;
  box-shadow: 0rem 0.625rem 0.9375rem #00000029;
  border-radius: 0rem 0rem 1.875rem 1.875rem;
  position: fixed;
  opacity: 1;
  z-index: 10000;
}

#topNav .nav {
  width: 100%;
  height: 6.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: rajdhani;
}
#topNav .nav img {
  width: 7.75rem;
  height: 5.75rem;
}
#topNav .nav #brand {
  width: 15%;
}
#topNav .nav .navItems {
  height: 6.25rem;
  width: 100%;
  border-left: 0.0625rem solid rgba(30, 20, 80, 0.3);
}
#topNav .nav .navItems .navContainer {
  width: 95%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#topNav .nav .navItems .navContainer h1 {
  font-size: 1.75rem;
}
#topNav .nav .navItems .navContainer .underLine {
  border: none;
  width: 100%;
  height: 0.1875rem;
  background: transparent
    linear-gradient(90deg, #ffffff 0%, #bcbecc9e 25%, #222856 100%) 0% 0%
    no-repeat padding-box;
  border-radius: 0.125rem;
}
#topNav .nav .navItems .navContainer .icons {
  background-color: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#topNav .nav .navItems .navContainer .icons a {
  width: 3rem;
  height: 3rem;
  text-align: center;
  margin-right: 1.25rem;
}
#topNav .nav .navItems .navContainer .icons img {
  width: 3rem;
  height: 3rem;
  position: relative;
}
#topNav .nav .navItems .navContainer .icons .iconNotification {
  display: inline-block;
  width: 1.625rem;
  height: 1.625rem;
  border-radius: 50%;
  color: white;
  line-height: 1.625rem;
  text-align: center;
  position: relative;
  top: -4.0625rem;
  right: -0.9375rem;
  background: transparent
    linear-gradient(340deg, #dd1e42 0%, #dd1e42 0%, #ff4992 100%) 0% 0%
    no-repeat padding-box;
  box-shadow: 0rem 0.1875rem 0.5rem #22222233;
  border: 0.125rem solid #fafdff;
}
#topNav .nav .navItems .navContainer .icons .avatar {
  width: 4.0625rem;
  height: 4.0625rem;
  border-radius: 50%;
  background-image: url("../assets/images/resources/user1.png");
  background-size: contain;
  box-shadow: 0rem 0.1875rem 0.375rem #00000029;
  border: 0.0625rem solid #1e1450;
}
#topNav .nav .navItems .navContainer .icons .noMargin {
  width: 4.0625rem;
  height: 4.0625rem;
}
/* end top nav  */

/* Start Side Nav Bar  */
.sideBar {
  width: 15%;
  min-height: 100vh;
  background-color: #1e1450;
  position: fixed;
}

.sideBar .container {
  max-width: 100%;
  margin: 0rem;
  font-family: "Pilat Extended Demi", Tahoma;
}
.sideBar .container ul.navItems {
  width: 100%;
  padding-top: 7rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.sideBar .container ul.navItems li {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.sideBar .container ul.navItems li.navItem a.sideLink {
  width: 70%;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: flex-start;
  border-radius: 0rem 0.625rem 0.625rem 0rem;
  font-family: "Pilat Light";
  font-size: 0.9375rem;
  line-height: 1.25rem;
  letter-spacing: 0rem;
  color: #ffffff;
  opacity: 1;
  text-align: center;
}
.sideBar .container ul.navItems li.navItem a.sideLink img {
  width: 2.875rem;
  height: 1.9375rem;
}

.sideBar .container ul.navItems li.navItem a {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.sideBar .container ul.navItems li.navItem a.leftArrow {
  width: 0.5625rem;
  height: 1rem;
  padding-right: 0.3125rem;
  background-color: inherit;
  display: none;
}
.sideBar .container ul.navItems li.selected a {
  background-color: #0e9877;
}
.sideBar .container ul.navItems li.selected > a.leftArrow {
  display: block;
}
.sideBar .container ul.navItems .lang {
  width: 100%;
  margin-top: 1.25rem;
  color: white;
  font-size: 1rem;
}
.sideBar .container ul.navItems .lang .container {
  width: 80%;
  margin: auto;
}
.sideBar .container ul.navItems .lang .container .dropdown {
  width: 100%;
}
.sideBar .container ul.navItems .lang h4 {
  font-family: "Pilat";
}

.sideBar .container ul.navItems .lang .container .dropdown button {
  width: 100%;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
  padding: 0.3125rem 0rem;
  color: white;
  background-color: inherit;
  border: 0.0625rem solid rgba(255, 255, 255, 0.6);
  border-radius: 0.3125rem;
  font-style: normal;
  display: flex;
  padding-left: 0.625rem;
  font-family: "Pilat";
  font-size: 1rem;
}
.sideBar .container ul.navItems .lang .container li a {
  font-size: 1rem;
  padding-top: 1.25rem;
}
body > div.sideBar > div > ul > div > div > li > a.log > img {
  display: inline-block;
  width: 3.125rem;
  height: 3.125rem;
}
/* End Side Nav Bar  */

/* Start dashHome */
.dashHome {
  width: 85%;
  margin-left: 15%;
  padding-top: 6.5625rem;
  background-color: rgba(30, 20, 80, 0.6);
  opacity: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  color: white;
  text-align: left;
  color: #ffffff;
  border-radius: 0rem 0rem 0.9375rem 0.9375rem;
}
.dashHome .head {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}
.dashHome .head .title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 2.25rem;

  font: normal normal bold 1.625rem/1.5625rem Cairo;
  letter-spacing: 0rem;
  color: #ffffff;
  opacity: 1;
}
.dashHome .head .title img {
  width: 1.875rem;
  height: 1.875rem;
}
.dashHome .head hr {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 0.1875rem;
  border: none;
  background: transparent
    linear-gradient(270deg, #ffffff 0%, #bcbecc9e 25%, #222856 100%) 0% 0%
    no-repeat padding-box;
  border-radius: 0.125rem;
  margin: 1.25rem 0rem;
}
.dashHome .head .content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.dashHome .head .best {
  width: 20%;
}
.dashHome .head .best h3 {
  margin-bottom: 0.625rem;
  font-size: 1.375rem;
  font-family: "Cairo";
}
.dashHome .head .best span {
  font-size: 0.875rem;
  line-height: 1.0625rem;
  font-family: "Poppins-Medium";
}
.dashHome .head .best .list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.dashHome .head .best .list .person {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 4.0625rem;
  margin-bottom: 0.9375rem;
  border-right: 0.1875rem solid #222856;
}
.dashHome .head .best .list .person img {
  width: 4rem;
  height: 4rem;
}
.dashHome .head .best .list .person .personInfo {
  width: 65%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.dashHome .head .best .list .person .personInfo .info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins-SemiBold";
}

.dashHome .head .best .list .person .personInfo .info img {
  width: 1.0625rem;
  height: 1.0625rem;
  border-radius: 50%;
  margin-right: 0.3125rem;
}
.dashHome .head .best .list .person .personInfo hr {
  padding: 0;
  width: 100%;
  height: 0.125rem;
  border: none;
  margin: 0.3125rem 0rem;

  background: transparent
    linear-gradient(270deg, #ffffff 0%, #bcbecc9e 25%, #222856 100%) 0% 0%
    no-repeat padding-box;
  border-radius: 0.625rem;
}
.dashHome .head .best .list .person span.depart {
  display: flex;
  align-items: center;
}
.dashHome .carosal {
  width: 75%;
  margin: auto;
  min-height: 18.75rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.dashHome .carosal .card {
  width: 25.4375rem;
  padding: 0rem 0.625rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  opacity: 1;
}
.dashHome .carosal .leftArrow,
.dashHome .carosal .rightArrow {
  width: 2.8125rem;
  height: 2.8125rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dashHome .carosal .leftArrow img,
.dashHome .carosal .rightArrow img {
  width: 2.8125rem;
  height: 2.8125rem;
}
.dashHome .carosal .rightArrow img {
  transform: rotate(180deg);
}
.dashHome .carosal .card img {
  width: 100%;
  border-radius: 0.625rem;
}
.dashHome .carosal .card p {
  font: normal normal normal 1.375rem/1.4375rem Cairo;
  letter-spacing: 0rem;
  color: #ffffff;
  padding: 0.3125rem;
  text-align: left;
  opacity: 1;
}
.dashHome .carosal .card p br {
  margin: 0.3125rem 0rem;
}

.lowerSection {
  height: 65rem;
  width: 80%;
  margin-left: 18%;
  margin-right: 2%;
  padding-top: 6.5625rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.lowerSection .left {
  width: 66%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.lowerSection .left .card {
  width: 48%;
}
.lowerSection .left .card .box {
  background-color: #3e3e46;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5%;
  border-radius: 0.3125rem;
  transition: all 0.5s ease-in-out;
}
.lowerSection .left .card .box .icon {
  padding-top: 0.25rem;
  padding-left: 0.625rem;
}
.lowerSection .left .card .box .icon img {
  width: 1.875rem;
  height: 1.875rem;
  position: relative;
  top: 0.3125rem;
  right: 0.3125rem;
}
.lowerSection .left .card .box .content {
  padding-top: 0.3125rem;
  padding-bottom: 0.625rem;
}

.lowerSection .left .card .box .content h3.title {
  text-align: left;
  font: normal normal 600 1.625rem/3.0625rem Cairo;
  letter-spacing: 0rem;
  color: #ffffff;
  opacity: 1;
}
.lowerSection .left .card .box .content p.content {
  text-align: left;
  font: normal normal normal 1.25rem/1.4375rem Cairo;
  letter-spacing: 0rem;
  color: #ffffff;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}
.lowerSection .left .card .box:hover {
  padding-bottom: 6.25rem;
}

.lowerSection .left .card .smallBoxes {
  max-width: 90%;
  min-height: 12.5rem;
  background-color: transparent;
  margin-top: -3.25rem;
  border-radius: 0.625rem;
  transition: all 0.9s ease-in-out;
  padding: 0rem 5%;
  margin-left: auto;
  margin-right: auto;
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
}
.lowerSection .left .card .box:hover + .smallBoxes,
.lowerSection .left .card .smallBoxes:hover {
  display: flex;
}
.lowerSection .left .card .smallBoxes .smBox {
  width: 33%;
}
.lowerSection .left .card .smallBoxes .smBox img {
  border-radius: 5px;
  margin: 3px;
}
.lowerSection .left .card2 .box,
.lowerSection .left .card3 .box {
  background-color: #05e68e;
}
.lowerSection .right {
  width: 50%;
}
.lowerSection .right .content {
  width: 80%;
  padding: 0.625rem 0rem;
  margin: auto;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0rem 0.25rem 0.75rem #a1abc633;
  border-radius: 0.75rem;
}
.lowerSection .right .content .person {
  width: 90%;
  height: 5rem;
  border-top: 0.0625rem dashed #e4e6ef;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.lowerSection .right .content .person img {
  width: 3.5625rem;
  height: 3.5625rem;
}
.lowerSection .right .content .person h3 {
  font-size: 0.9375rem;
  color: #181c32;
}
.lowerSection .right .content .person h5 {
  font-size: 0.75rem;
  color: #a1a5b7;
}
.lowerSection .right .content .person h6 {
  font-size: 0.875rem;
  color: #a1a5b7;
}
.lowerSection .right .content .head {
  width: 90%;
  height: 3.125rem;
  margin: auto;
}
.lowerSection .right .content .head h2 {
  color: #181c32;
  line-height: 3.125rem;
}

/* End dashHome */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .sideBar .container ul.navItems li.navItem a.sideLink {
    flex-direction: row;
    padding: 0.375rem 0.625rem;
  }

  .sideBar .container ul.navItems {
    padding-top: 9rem;
  }
  .sideBar .container ul.navItems li.navItem a.sideLink img {
    width: 3.875rem;
    height: 2.9375rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
